.confDiv{
    display:  flex;
    background-color: var(--maingray);
    min-height: 100vh;
    flex-direction: column;
    margin: auto;
 align-items: center;
 color: wheat;
 justify-content: center;
}

.confBtn{
    width: 10%;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--mainYellow);
    border: none;
    color: white;
}

@media(max-width:768px){
    .confBtn{
        width: 30%;
     
    }
    

}