.sectionTitle{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    background-color:var(--maingray);
    padding: 20px;
}
.sectionTitle2{
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-left: 20px;
    padding-right:20px;
    background-color: var(--maingray);
    
}
button{margin-bottom: 20px;}
.titleDiv, .titleDiv2{
    grid-column:2/ span 6;
    display: flex;
  
    flex-direction: column;
    row-gap: 10px;
}
p{
    font-size: 24px;
    font-weight: bold;
    ;
}

 

  article  {
    color:black;
    font-size: 24px;
} 
.titleDiv button{
     width: 20%;
     padding: 10px;
     width: 130px;
     border: none;
     border-radius: 16px;
     background-color: var(--mainYellow);
     font-weight: bold;
     cursor: pointer;
     
}
.imageDiv{
    grid-column:10;
    margin: auto;
    position: relative;
}

.imageDiv2{
    grid-column:10;
    margin: auto;
    position: relative;
    margin-top: 50px;
}






.imageDiv img{
    border-radius: 16px;
    width: 200px;
    height: 200px;
    position: relative;
  

}


.imageDiv2 img{
    border-radius: 16px;
    width: 200px;
    height: 200px;
  

}



.img2{
    position:absolute;
    top: -50px;
    left: 40px;
z-index: 1;
transition: transform 0.3s, opacity 0.3s;
   
}
.img1{
    z-index:0;
    position: relative;
    transform: scale(1.1);
    transition: z-index 0.3s;
}
.img1:hover{z-index: 8;
cursor: pointer;}



@media(max-width:768px){
  
    
.titleDiv, .titleDiv2{
display: flex;
flex-direction: column;
align-items: center;
}


.sectionTitle{
    display: flex;
    flex-direction: column;
    background-color:var(--maingray);
    padding: 20px;
    align-items: center;
}
.sectionTitle2{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column-reverse;

    padding-left: 20px;
    padding-right:20px;
    background-color: var(--maingray);
    
}.imageDiv2{
    margin-bottom: 20px;
}
/* .img2{display: none;} */
}

