.header {
    width: full;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 9%;
    padding-right: 5%;
  
}

.logo {
    width: 200px;
}

nav {
    display: flex;
}

ul {
    display: flex;
    gap: 20px;
   
}

ul li {
    display: flex;
    gap: 10px;
  
}



.hamburger {
    display: none;
}

@media(max-width: 480px) {
    nav {
        display: none; 
    }
}

@media(max-width: 768px) {
    nav {
        display: none; 
    }
    .hamburger {
        display: block;
        margin-right: 10px;
    }

    .header {
        width: full;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 9%;
        padding-right: 5%;
        background-color: var(--maingray);
      
    }
}